*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
 a,a:hover a:focus{
 	text-decoration: none;
 	outline: none;
 }

li{
	list-style: none;
	display: inline-block;
}

.header{
	background-color: #fff;
	box-shadow:0px 5px 10px rgba(91, 91, 91, 0.1) ;
}

.header_logo{
	padding: 26px 0;
	text-align: center;
}
 
.header_logo a{
	display: inline-block;
	color: #000;
	font-size: 27px;
	font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header_menu{
	padding: 30px 0 27px;
	text-align: center;
}

.header_menu ul li{
	display: inline-block;
	position: relative;
	margin-right: 40px;
}

.header_menu ul li a{
	font-weight: 500;
	font-size: 17px;
	display: block;
	position: relative;
	padding: 2px 0;
	color: #000;
}

.header_menu ul li a:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transition: all 0.5s;
	background-color: #ff7200;
	transform: scale(0);
}

.header_menu ul li:hover a:after{
	transform: scale(1);
}

.header_menu ul li.active a:after{
	transform: scale(1);
}

.header_menu ul li a:last-child{
	margin-right: 0;
}

.header_right{
	padding: 30px 0 27px;
	text-align: center;
}

.header_right .header_right_auth{
    display: inline-block;
    margin-right: 25px;
}

.header_right .header_right_auth a{
	font-size: 17px;
	color: #666666;
	position: relative;
	margin-right: 13px;
}

.header_right .header_right_auth a:last-child{
	margin-right: 0;
}

.header_right .header_right_auth a:after{
	position: absolute;
	right: -12px;
	top: 2px;
	content: '/';
	font-size: 16px;
}

.header_right .header_right_auth a:last-child:after{
	display: none;
}

.categories{
	position: relative;
	overflow:hidden;
}

.categories .categories_item{
	position: relative;
	align-items: center;
	margin-bottom: 8px;
	margin-right: 10px;
	display: flex;
}

.categories .categories_text{
	position: absolute;
	left: 40px;
	top: 40px;
	color: white;
}
 



.categories .categories_text.active a:after{
	transform: scale(1);
}


.categories .categories_large_item .categories_text{
	position: absolute;
	max-width: 300;
	left: 40px;

}

.categories .categories_text h1{
	color: white;
	margin-bottom: 5px;
}

.categories .categories_text a{
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	position: relative;
	font-weight: 600;
	padding: 0 0 3px;
	display: inline-block;

}

.categories .categories_text a:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transition: all 0.5s;
	background-color: #ff7200;
	transform: scale(0);
	
}

.categories .categories_text:hover a:after{
	transform: scale(1);
}


.categories .categories_text h4{
    position: absolute;
    top: -54px;
}

.categories_text_items{
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
}


.categories_text_items a{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	position: relative;
	font-weight: 600;
	padding: 0 0 3px;
	display: inline-block;

}

.categories_text_items a:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transition: all 0.5s;
	background-color: #ff7200;
	transform: scale(0);
	
}

.categories_text_items:hover a:after{
	transform: scale(1);
}

.product{
	padding-top: 60px;
	padding-bottom: 50px;
}

.product .section-title{
    margin-bottom: 45px;
}

.product .section-title h4{
	color: #000;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
}

.product .section-title h4:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 70px;
	background-color: #ca1515;
}

.spad{
	padding-top: 80px;
	padding-bottom: 80px;
}

.product_item{
	margin-bottom: 35px;
}

.product_item_pic{
	height: 397;
	overflow: hidden;
	position: relative;
	width: 100%
	   
}

.product_item_pic .label{
	position: absolute;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	padding: 2px 8px;
	text-transform: uppercase;
	left: 10px;
	top: 10px;
}

.product_item_pic .label.new{
	background-color: #ff7200;
}

.product_item_text{
	text-align: center;
	padding-top: 22px;
}

.product_item_text h6 a{
	font-size: 14px;
	color: #000;
}

.product_item_text .rating{
	line-height: 18px;
    margin-bottom: 5px;
}

.product_item_text .rating i{
	margin-right: -4px;
	font-size: 10px;
	color: #e3c01c;
}

.product_item_text .rating i:last-child{
	margin-right: 0;
}

..product_item_text .product_price{
	color: #000;
	font-weight: 600;
}

.product_hover{
	position: absolute;
	text-align: center;
	left: -27px;
	bottom: 30px;
	width: 100%;
}

.product_hover li{
	list-style: none;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	top: 100px;
	opacity: 0;
}

.product_hover li:last-child{
	margin-right: 0;
}

.product_hover li:hover a{
    background-color: #ff7200;
}

.product_hover li:hover a span{
	color: #fff;
	transform: rotate(360deg);
}

.product_hover li a{
	font-size: 18px;
	color: #000;
	display: block;
	width: 45px;
	height: 45px;
	background-color: #fff;
	line-height: 45px;
	border-radius: 50px;
	transition: all 0.5s;
	box-shadow: 0 0 25px rgba(24, 24, 24, 0.4);
}

.product_hover li a i{
	position: relative;
	display: inline-block;
	transform: rotate(0);
	transition: all 0.3s;
}

.product_item:hover .product_hover li{
	opacity: 1;
	top: 0;
}

.product_hover li:nth-child(1){
	transition: all 0.4s ease 0.1s;
}

.product_hover li:nth-child(2){
	transition: all 0.4s ease 0.15s;
}

.product_hover li:nth-child(3){
	transition: all 0.4s ease 0.2s;
}

.product_hover li:nth-child(4){
	transition: all 0.4s ease 0.25s;
}

.product_item_pic .label.stockout{
	background-color: #111111;
}

.product_item_pic .label.sale{
	background-color: #ff7200;
}

.product_item_text .product_price span{
	font-size: 14px;
	color: #b1b0b0;
	text-decoration: line-through;
	margin-left: 4px;
}

.banner{
	position: relative;
	height: 500px;
}


.bg{
	background-image: url(https://wardrobeicons.com/wp-content/uploads/2019/06/bags-banner-scaled.jpg);
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}


.bg .bg_text a{
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	position: relative;
	font-weight: 600;
	padding: 0 0 3px;
	display: inline-block;

}

.bg .bg_text a:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transition: all 0.5s;
	background-color: #ff7200;
	transform: scale(0);
	
}

.bg .bg_text:hover a:after{
	transform: scale(1);
}

.bg h4 span{
	font-size: 25px;
	color: #ff7200;
	text-transform: uppercase;
}


.bg h1{
	font-size: 50px;

}

.bg .bg_text{
    position: absolute;
    left: 85px;
    text-align: center;
    padding: 150px 0 0;
   

}

.footer{
	background-color: #f3f1f1;
}

.footer .footer_about{
	margin-bottom: 30px;
}


.footer .footer_about p{
    margin-bottom: 20px;
    padding-right: 80px;
}

.footer .footer_logo{
	margin-bottom: 20px;
}

.footer .footer_logo a{
	font-size: 35px;
	color: #000;
	font-weight: 600;

}

.footer .footer_widget h6{
	color: #111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.footer .footer_widget ul li{
	list-style: none;
	display: block;
}

.footer .footer_widget ul li a{
	font-size: 14px;
	color: #666;
	line-height: 30px;
    margin-left: -29px;
}

.footer .footer_social a{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #ff7200;
	font-size: 15px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	margin-right: 6px;
	border-radius: 10%;
	margin-bottom: 5px;
	transition: all 0.5s;
}

.footer .footer_social a:hover{
	background-color: #e46d0c;
	color: #fff;
}


.shop-method-area .single-method i{
    font-size: 45px;
    margin-bottom: 25px;
    color: #ff7200;
    display: block;
}

.shop-method-area .single-method h6{
	color: #282828;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 12px;
}

.shop-method-area .single-method p{
	font-size: 12px;
	text-align: justify;

}



@media(max-width: 768px){
	.bg{
        background-image:url(https://wardrobeicons.com/wp-content/uploads/2019/06/bags-banner-scaled.jpg);
        height: 200px;
        background-position: 60%;     
        margin-top: -63px;
	}

	.bg .bg_text{
		position: absolute;
        left: -8px;
        padding: 40px 0 0;

        }

	
	.bg h4 span{
	font-size: 12px;}

	.bg h1{
	font-size: 24px;
	margin-left: 10px;
    }
    .bg a{
    	margin-left: 23px;
    	font-size: 12px;
    }

    .product_item_pic{
    	
    margin-left: 23px;

    }
}
